SetEnv ENV prod

# Charset
AddDefaultCharset UTF-8

# Compression
AddOutputFilterByType DEFLATE text/xml text/plain
AddOutputFilterByType DEFLATE application/json application/javascript
AddOutputFilterByType DEFLATE application/pdf

# Expiration
ExpiresActive On
ExpiresByType image/png "access plus 6 month"
ExpiresByType audio/mpeg "access plus 6 month"
ExpiresByType application/pdf "access plus 6 month"

# Rewrite base
RewriteEngine on
RewriteBase /
SetEnv BASE /

# Force HTTPS
# https://help.dreamhost.com/hc/en-us/articles/215747758-Force-your-site-to-load-securely-with-an-htaccess-file#Forcing_the_domain_to_serve_securely_using_HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"

# Use PHP
# https://help.dreamhost.com/hc/en-us/articles/215747748-How-can-I-redirect-and-rewrite-my-URLs-with-an-htaccess-file-#Rewriting_non-existing_links_to_index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
